plugins/XML/tags/release-3.0.0/tags/release-2-6/test_data/abstract_substitution/comments.xsd

<schema targetNamespace="http://www.example.com/IPO"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:ipo="http://www.example.com/IPO">

  <annotation>
    <documentation xml:lang="en">
      declare a substitution group for comment.
		That is shipComment and custommerComment can replace comment everywhere.
		comment is abstract so it can't appear in abstract_element_instance.xml
    </documentation>
  </annotation>

  <element name="comment" type="string" abstract="true"/>

  <element name="shipComment" type="string"
         substitutionGroup="ipo:comment"/>
  <element name="customerComment" type="string"
         substitutionGroup="ipo:comment"/>

</schema>

