plugins/JIndex/trunk/jindex/jindex.dtd

<!ELEMENT JINDEX (KEY+) >
<!ATTLIST JINDEX version CDATA #REQUIRED>
<!ATTLIST JINDEX size CDATA #REQUIRED>


<!ELEMENT KEY (ENTRY+) >
<!ATTLIST KEY name CDATA #REQUIRED>
<!ATTLIST KEY entries CDATA #REQUIRED>


<!ELEMENT ENTRY EMPTY>
<!ATTLIST ENTRY text CDATA #REQUIRED>
<!ATTLIST ENTRY type CDATA #REQUIRED>
<!ATTLIST ENTRY libNum CDATA #REQUIRED>

