plugins/XML/trunk/test_data/xsd_attr_type_string/a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
    targetNamespace="urn:attr-type-string"
    elementFormDefault="qualified"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <element name="a">
    <complexType>
      <sequence>
        <element name="b" minOccurs="0">
        </element>
      </sequence>
      <attribute name="attr" type="string">
      </attribute>
    </complexType>
  </element>
</schema>
