plugins/XInsert/tags/release-2_1/xinsert.dtd

<!ELEMENT xinsert ( menu | item)+ >

<!ELEMENT menu  (variable*, (menu | item)*) >
  <!ATTLIST menu
       name   CDATA #REQUIRED >

<!ELEMENT item (#PCDATA) >
  <!ATTLIST item
       name   CDATA #REQUIRED
       type (text | macro | named_macro | xinsert_script | reference ) "text"
       abbrev CDATA #IMPLIED
       mode   CDATA #IMPLIED
    >

<!ELEMENT variable EMPTY >
  <!ATTLIST variable
       name   CDATA #REQUIRED
       value  CDATA #REQUIRED >

