plugins/XML/tags/release-2.8.3-jedit-4.5/test_data/optionalRef/schema.rng

<?xml version="1.0" ?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">

<start>
  <element name="doc">
  	<optional>
  	  <ref name="inline"/>
  	</optional>
	<element name="needsinline">
	  <ref name="inline"/>
	</element>
  </element>
</start>

<define name="inline">
  <attribute name="inline">
  <choice>
  <value>yes</value>
  <value>no</value>
  </choice>
  </attribute>
</define>

</grammar>
